
h1{
	text-align: center;
	font: 600 2em Tahoma, Arial, Verdana, sans-serif;
}

button.eliminar {
	font: 700 1em Tahoma, Arial, Verdana, sans-serif;
	color: white; background-color: white;

	/*border: 1px solid #0074a5;*/
	border: none;
	/*border-top: 1px solid #004370;
	border-left: 1px solid #004370;*/
	cursor: pointer;
}

button.boton{
	font: 700 1em Tahoma, Arial, Verdana, sans-serif;
	width: 28%;
	background-color: #4CAF50;
	color: white;
	padding: 11px 10px;
	/*margin: 8px 0;*/
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.icon{
	width: 24px;
	height: 24px;
}
#tablaMostrar {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tablaMostrar tr {
	border: 1px solid #ddd;
}

#tablaMostrar .titulos {
	border: none;
}

#tablaMostrar td, #tablaMostrar th {
  /*border: 1px solid #ddd;*/
  padding: 8px;
  text-align: center;
}

#tarea {
	font: 500 1em Tahoma, Arial, Verdana, sans-serif;
	width: 70%;
	padding: 10px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#tarea:hover{
	border: 1px solid blue;
}

.checkk {
	/* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}

